table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.name-caps{
    text-transform: capitalize;
}
.Fail{
    color:red;
}
.Topper{
    color: #3cca3c;
}
.head-main{
    font-style: italic; 
}